/////////////////////////////////////////////////////////////////////////////////
#onepage {
  background-color: black;
  position: relative;
  background: black;
  $gold: #ccc3a2;
  $dark-gold: #644818;
  $light-gold: #e0d982;
  $link-color: #90f5ff;

  .background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url("/themes/custom/sf/img/earth.jpg");
    background-size: cover;
    z-index: 0;
  }

  $white: #f0f0ff;
  a {
    text-decoration: none;
    color: $link-color;
    &:hover {
      text-decoration: underline;
    }
  }

  .wrapper {
    padding: 3rem 3rem 1rem 3rem;
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    @media only screen and (max-width: $bp_tablet_max) {
      padding: 3rem 1.5rem;
    }
  }

  #page {
    @media only screen and (max-width: $bp_desktop) {
    }
    @media only screen and (max-width: $bp_tablet) {
    }
    @media only screen and (max-width: $bp_mobile) {
    }
  }

  header {
    z-index: 1;
    height: 100vh;
    @media only screen and (max-width: $bp_tablet_max) {
      height: 50vh;
    }

    .container {
      float: right;
      margin-top: 4vh;
      margin-right: 3vw;
      width: 50%;
      @media only screen and (max-width: $bp-desktop-max) {
        width: 56%;
      }
      @media only screen and (max-width: $bp-tablet-max) {
        width: 75%;
        float: none;
        margin: 0 auto;
        padding-right: 0;
      }
      @media only screen and (max-width: $bp-mobile-max) {
        width: 85%;
      }
    }

    img {
      display: block;
      margin: 0 auto;
    }

    .slogan {
      margin: 0 auto;
      margin-top: 1rem;
    }
  } // header

  section.statement {
    position: relative;
    color: $gold;
    z-index: 2;
    margin: 6rem auto;
    width: 100%;
    @include clearfix;

    @media only screen and (max-width: $bp_tablet_max) {
      width: 100%;
      margin: 3rem auto;
    }

    .image {
      width: 40%;
      img {
        display: block;
        @media only screen and (max-width: $bp_tablet_max) {
          filter: brightness(50%);
        }
      }
    }

    .bg {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-size: cover;
      background-position: left center;
      background-repeat: no-repeat;
      z-index: -2;
      border: $gold solid 1px;
      @include fixed-aspect(.375 * 100%, '.bg-img');

      @media only screen and (max-width: $bp_tablet_max) {
//      position: relative;
//      bottom: inherit;
//      right: inherit;
      }
    }

    .text {
      position: relative;
      font-size: 125%;
      float: left;

      @media only screen and (max-width: $bp_tablet_max) {
        float: none;
        position: relative;
        background: rgba(0,0,0,.7);
      }
      h2 {
        color: inherit;
        font-size: 1.6rem;
      }
      p {
        margin: 10px 0;
        line-height: 1.3;
      }
    }

    .note {
      position: absolute;
      bottom: 0;
      right: 2rem;
      font-style: italic;
      font-size: 80%;
    }

    &.section1 {
      .text {
        padding: 5.5rem 2rem 0 5rem;
        width: 55%;
      }
      .bg {
        background-image: url("/themes/custom/sf/img/section1.png");
      }

      @media only screen and (max-width: $bp_tablet_max) {
        margin: 0rem auto;
        .text {
          padding: 2em 1em 1em;
          width: 100%;
          margin: 0 auto 0 auto;
        }
        .bg {
          width: 100%;
          height: 100%;
          background-image: url("/themes/custom/sf/img/section1m.png");
        }
      }
    }

    &.section2 {
      .text {
        float: right;
        padding: 4rem 2rem;
        width: 45%;
      }
      .note {
        font-style: italic;
        position: absolute;
        bottom: 1rem;
        font-size: 80%;
      }
      .bg {
        background-image: url("/themes/custom/sf/img/section2.png");
      }

      @media only screen and (max-width: $bp_tablet_max) {
        margin: 0rem auto;
//      height: auto;
        .text {
          padding: 2em 1em 1em;
          width: 100%;
          margin: 0 auto;
          float: none;
        }
        .note {
          left: 1rem;
          bottom: 0rem;
        }
        .bg {
          width: 100%;
          height: 100%;
          background-image: url("/themes/custom/sf/img/section2m.jpg");
        }
      }
    }

    &.section3 {
//    height: 450px;
      .text {
        padding: 5.5rem 2rem 0 5rem;
        width: 55%;
      }
      .bg {
        background-image: url("/themes/custom/sf/img/section3.png");
      }

      @media only screen and (max-width: $bp_tablet_max) {
        margin: 0rem auto;
        height: auto;
        .text {
          padding: 2em 1em 1em;
          width: 100%;
          margin: 0 auto;
        }
        .bg {
          width: 100%;
          height: 100%;
          background-image: url("/themes/custom/sf/img/section3m.png");
        }
      }
    }

    &.section4 {
//    height: 410px;
      .text {
        float: right;
        padding: 4rem 2rem;
        width: 45%;
      }
      .note {
        font-style: italic;
        position: absolute;
        bottom: 1rem;
        font-size: 80%;
      }

      .bg {
        background-image: url("/themes/custom/sf/img/section4.png");
      }

      @media only screen and (max-width: $bp_tablet_max) {
        margin: 0rem auto;
        height: auto;
        .text {
          padding: 2em 1em 1em;
          width: 100%;
          margin: 0 auto;
          float: none;
        }
        .note {
          left: 1rem;
          bottom: 0rem;
        }
        .bg {
          width: 100%;
          background-image: url("/themes/custom/sf/img/section4m.png");
        }
      }
    }
  }

  .videos {
    text-align: center;
    margin: 0 auto 5rem;
    padding: 0;
    @media only screen and (max-width: $bp_tablet_max) {
      margin: 0 auto 3rem;
    }

    .grid {
      width: 84%;
      margin: 0 auto;
      @media only screen and (max-width: $bp_tablet_max) {
        width: 100%;
      }
    }

    .imagine {
      font-size: 1200%;
      color: $gold;
      margin: 0 auto;
      padding: 5rem 0 3rem;
      @media only screen and (max-width: $bp_tablet_max) {
        font-size: 700%;
        padding: 5rem 0 2rem;
      }
      @media only screen and (max-width: $bp_mobile_max) {
        font-size: 400%;
        padding: 2rem 0 1rem;
      }
    }

    .video {
      margin-bottom: 2rem;
      @media only screen and (max-width: $bp_tablet_max) {
//      width: 100%;
      }

      .video-wrapper {
         padding: 1px;
         border: $gold solid 1px;
         position: relative;
//       height: 250px;
//       padding: 1rem;
        @include fixed-aspect(.5221 * 100%, 'iframe');
      }

      iframe {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: calc(100% - 1px);
        height: calc(100% - 1px);
        margin: 0;

      }

      .description {
        text-transform: uppercase;
        color: $gold;
        padding: 1rem;
        font-size: 132%;
        text-shadow: 0px 0px 2px black;
      }
    }
  }

  footer {
    position: relative;
    height: 180px;
    text-align: center;
    @media only screen and (max-width: $bp_tablet_max) {
      height: 260px;
    }

    .links {
      p {
        margin: 3px 0;
        a {
          font-size: 110%;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      text-align: right;
      position: absolute;
      right: 30px;
      bottom: 1rem;
    }

    .container {
      margin: 0 auto;
      width: 40%;
      @media only screen and (max-width: $bp_tablet_max) {
        width: 65%;
      }
    }

    img {
      margin: 0 auto;
      display: block;
      &.slogan {
        margin-top: 1rem;
      }
    }
  }
}

