<article id="node-{{ node.id }}" class="{{ attributes.class }}"{{ attributes }}>
  <section class="page-content">
    <section class="videos">

      <h2 class="imagine">SCIENCE</h2>

      <!--div class="primary">
        <div class="primary-video video">
          <div class="video-wrapper">
            <iframe width="854" height="480" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen
                    src="https://player.vimeo.com/video/680203533?h=63db1bdd4f"></iframe>
          </div>
          <div class="description">
            <p>REACTORS</p>
          </div>
        </div>
      </div-->

      <div class="grid">

        <div class="video">
          <div class="video-wrapper">
            <iframe width="854" height="480" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen
                    src="https://player.vimeo.com/video/680203533?h=63db1bdd4f"></iframe>
          </div>
          <div class="description">
            <p>REACTORS</p>
          </div>
        </div>

        <div class="video">
          <div class="video-wrapper">
            <iframe width="854" height="480" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen
                    src="https://player.vimeo.com/video/686960614?h=4f10a73fcb"></iframe>
          </div>
          <div class="description">
            <p>VAPORIZING TUNGSTEN</p>
          </div>
        </div>

        <div class="video">
          <div class="video-wrapper">
            <iframe width="854" height="480" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen
                    src="https://player.vimeo.com/video/674565344?h=195b9dd0de"></iframe>
          </div>
          <div class="description">
            <p>OPTICAL SPECTROSCOPY</p>
          </div>
        </div>

        <div class="primary-video video">
          <div class="video-wrapper">
            <iframe width="854" height="480" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen
                    src="https://player.vimeo.com/video/674624718?h=5831a391da"></iframe>
          </div>
          <div class="description">
            <p>COSMIC PLASMA & SAFIRE RESULTS</p>
          </div>
        </div>

        <div class="video">
          <div class="video-wrapper">
            <iframe width="854" height="480" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen
                    src="https://player.vimeo.com/video/673721077?h=999de4688f"></iframe>
          </div>
          <div class="description">
            <p>TRANSMUTATION</p>
          </div>
        </div>

        <div class="video">
          <div class="video-wrapper">
            <iframe width="854" height="480" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen
                    src="https://player.vimeo.com/video/674203528?h=6c08eb9f75"></iframe>
          </div>
          <div class="description">
            <p>TEMPERATURE</p>
          </div>
        </div>

        <div class="video">
          <div class="video-wrapper">
            <iframe width="854" height="480" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen
                    src="https://player.vimeo.com/video/675013842?h=27fe9d0f73"></iframe>
          </div>
          <div class="description">
            <p>HYDROGEN METAL ENERGY</p>
          </div>
        </div>

        <div class="video">
          <div class="video-wrapper">
            <iframe width="854" height="480" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen
                    src="https://player.vimeo.com/video/678962213?h=448e9005b0"></iframe>
          </div>
          <div class="description">
            <p>DARK THINGS</p>
          </div>
        </div>
      </div>
    </section>
  </section>
</article>

