<article id="node-{{ node.id }}" class="{{ attributes.class }}"{{ attributes }}>
  <section class="page-content">
    <section class="section1 statement">
      <div class="text">
        <h2>THE CHALLENGE</h2>
        <p>Managing radioactive waste in the USA is a $500 billion problem. The worst of that waste lasts from ten
          thousand to a billion years.</p>
      </div>
      <div class="bg"><div class="bg-img"></div></div>
    </section>

    <section class="section2 statement">
      <div class="text">
        <h2>WHAT IF</h2>
        <p>What if there were a technology that could safely neutralize radioactive waste while simultaneously creating clean electricity and rare earth elements?</p>
      </div>
      <div class="bg"><div class="bg-img"></div></div>
      <p class="note">Inside the SAFIRE reactor</p>
    </section>

    <section class="section3 statement">
      <div class="text">
        <h2>THE SAFIRE REACTOR</h2>
        <p>After almost a decade of research and experimentation, the SAFIRE PROJECT team developed a stable medium-energy plasma reactor. Using a process called Nuclear Valence Excitation (NVE) the SAFIRE reactor can generate safe and uniquely controllable nuclear changes. This technology has many potential applications in the energy and cleantech industries.</p>
        <p>Aureon Energy Ltd was formed to develop and commercialize these applications.</p>
      </div>
      <div class="bg"><div class="bg-img"></div></div>
    </section>

    <section class="section4 statement">
      <div class="text">
        <h2>WHAT'S NEXT</h2>
        <p>We are now creating the first commercial application of the NVE technology to eliminate the radioactivity from the wastewater of hydraulic fracturing operations called produced water.</p>
        <p>We invite you to watch the short movies below to learn more about our vision and mission.</p>
      </div>
      <div class="bg"><div class="bg-img"></div></div>
      <p class="note">Inside the SAFIRE reactor</p>
    </section>

    <!--section class="content">
       <p>After seven years of research and experimentation with medium-temperature nuclear plasma reactions, that capability is here now and Aureon Energy is bringing it to market.</p>
       <p>We are extending an invitation to interested and aligned investors to participate in our Series A financing.  To find out more, please register here.</p>
    </section-->

    <section class="videos">

      <h2 class="imagine">IMAGINE</h2>

      <div class="grid">

        <div class="video">
          <div class="video-wrapper">
            <iframe width="854" height="480" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen
                    src="https://player.vimeo.com/video/632356152?h=a799373c5f"></iframe>
          </div>
          <div class="description">
            <p>THE IMPOSSIBLES</p>
          </div>
        </div>

        <div class="video">
          <div class="video-wrapper">
            <iframe width="854" height="480" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen
                    src="https://player.vimeo.com/video/595419351?h=b47629e0ce"></iframe>
          </div>
          <div class="description">
            <p>THE FUTURE NOW</p>
          </div>
        </div>

        <div class="video">
          <div class="video-wrapper">
            <iframe width="854" height="480" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen
                    src="https://player.vimeo.com/video/610895634?h=7c2f0e371d"></iframe>
          </div>
          <div class="description">
            <p>THE SOURCE</p>
          </div>
        </div>

        <!--div class="video">
          <div class="video-wrapper">
            <iframe width="854" height="480" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen
                    src="https://player.vimeo.com/video/623854674?h=9db37adf65"></iframe>
          </div>
          <div class="description">
            <p>WISDOM</p>
          </div>
        </div-->

        <div class="video">
          <div class="video-wrapper">
            <iframe width="854" height="480" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen
                    src="https://player.vimeo.com/video/625861247?h=bb860370ff"></iframe>
          </div>
          <div class="description">
            <p>SECRET FORMULA</p>
          </div>
        </div>

        <div class="video">
          <div class="video-wrapper">
            <iframe width="854" height="480" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen
                    src="https://player.vimeo.com/video/618987846?h=1640738b60"></iframe>
          </div>
          <div class="description">
            <p>ELEMENTAL</p>
          </div>
        </div>

        <div class="video">
          <div class="video-wrapper">
            <iframe width="854" height="480" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen
                    src="https://player.vimeo.com/video/612672645?h=f0d312b593"></iframe>
          </div>
          <div class="description">
            <p>TRANSFORMATIVE VS. DISRUPTIVE</p>
          </div>
        </div>

        <div class="video">
          <div class="video-wrapper">
            <iframe width="854" height="480" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen
                    src="https://player.vimeo.com/video/642894330?h=a2070ab19d"></iframe>
          </div>
          <div class="description">
            <p>TWO MODELS</p>
          </div>
        </div>

        <div class="video">
          <div class="video-wrapper">
            <iframe width="854" height="480" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen
                    src="https://player.vimeo.com/video/658644902?h=a9c6f83fbb"></iframe>
          </div>
          <div class="description">
            <p>STRATEGY</p>
          </div>
        </div>
      </div>

      <h2 class="imagine">ROADMAP</h2>

      <div class="grid">
        <div class="video">
          <div class="video-wrapper">
            <iframe width="854" height="480" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen
                    src="https://player.vimeo.com/video/453152469?h=102fd1cb15"></iframe>
          </div>
          <div class="description">
            <p>WELLSPRING</p>
          </div>
        </div>
      </div>
    </section>

    <div class="morelink"><a href="/science">MORE MOVIES</a></div>
 <article>
