main.outer-wrapper {
  margin: 0 auto;
//background-color: rgba(0,0,0,.85);
  padding: 0 var(--spacing) calc(var(--spacing)/2);
  max-width: var(--max-page-width);
}

body {
  &.path-presentations,
  &.path-runs,
  &.path-projects,
  &.path-experiments,
  &.path-tickets {
    main.outer-wrapper {
      max-width: none;
    }
  }
}

